body {
    font-family: Palatino, URW Palladio L, serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(208, 43, 1, 0.897);
    border: 1px solid #ddd;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #1674AA;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .personal-info {
        flex-direction: row;
        align-items: flex-start;
    }
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #a80404;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .profile-pic {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.details {
    flex-grow: 1;
}

.name {
    font-size: 1.8em;
    margin: 10px 0;
    color: #1674AA;
}

.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-img {
    width: 100px;
    height: 22px;
}

.sections .section {
    margin-top: 20px;
}

.section h2 {
    font-size: 1.5em;
    color: #1674AA;
    margin-bottom: 10px;
}

.section hr {
    border: 0;
    border-top: 1px solid #1674AA;
    margin-bottom: 10px;
}

.section p, .section ul {
    margin: 5px 0;
}

.section ul {
    padding-left: 20px;
    list-style-type: disc;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

.download-container {
    text-align: center;
    margin: 20px 0;
}

.download-btn {
    background-color: #1674AA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.download-btn:hover {
    background-color: #125b8a;
}

.declaration {
    font-size: 1em;
    color: #666;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
